<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
                        <h2>Email</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            <label for="">TO</label>
                            <input type="text" name="emailto" id="">
                            <label for="">From</label>
                            <input type="text" name="emailfrom" id="" value="rtestexpress@gmail.com">
                            <label for="">Subject</label>
                            <input type="text" name="subject" id="">
                            <label for="">Body</label>
                            <textarea name="body" id=""></textarea>
                            <label for="">attachment</label>
                            <input type="file" name="attachment" id="">
                            <button type="submit">Send Email</button>
                        </form>
</body>
</html>